<div   th:fragment="footer" >
    <section  style="background-color: #191919;color: #fff; padding: 50px 0px 50px 0px; border-top: 4px solid #df0d00; ">
        <div class="container">
            <div class="row" >

                <div class="col-sm-4 col-md-4 ">
                    <h5 class="text-center">Menu</h5>
                    <ul class="list-unstyled fa-ul">
                        <li> <span class="fa-li" ><i class="fas fa-home textR"></i></span>Home</li>  
                        <li> <span class="fa-li" ><i class="fas fa-address-card textR"></i></span>About Us</li>  
                        <li> <span class="fa-li" ><i class="fas fa-users textR"></i></span>All Member</li>  
                        <li> <span class="fa-li" ><i class="fas fa-key textR"></i></span>Member Login</li>  
                        <li> <span class="fa-li" ><i class="fas fa-registered textR"></i></span>Member Registration</li> 
                        <li> <span class="fa-li" ><i class="fas fa-images textR"></i></span>Gallery</li> 
                        <li> <span class="fa-li" ><i class="fas fa-donate textR"></i></span>Donations</li> 
                        <li> <span class="fa-li" ><i class="fas fa-tty textR"></i></span>Contact Us</li>
                    </ul>



                </div> 

                <div class="col-sm-4 col-md-4">
                    <h5 class="text-center">Contact Us</h5>
                    <ul class="list-unstyled fa-ul">
                        <li> <span class="fa-li" ><i class="fas fa-map-marker-alt textR"></i></span>Address:124, Monalisa Street, Lorem Ipsum, 302012</li> 
                        <li><span class="fa-li" ><i class="fas fa-mobile-alt textR"></i></span>Mobile:1234567890</li>
                        <li><span class="fa-li" ><i class="fas fa-envelope-open textR"></i></span>Email:Abcd@abcd.com</li>
                     
                        </ul>
        
                </div> 

                <div class="col-sm-4 col-md-4  text-center">

                    <h5 class="text-center">Social Network</h5>

                    <ul class="list-inline mt-5 fa-ul">
                        <li class="list-inline-item"> <i  style="color: #3c5a99;" class="fab fa-facebook-f  fa-3x"></i></li> 
                        <li  class="list-inline-item"><i style="color: #FF0000;" class="fab fa-youtube textR fa-3x"></i></li>
                        <li  class="list-inline-item"><i style="color: #1da1f2;" class="fab fa-twitter-square textR fa-3x"></i></li>
                       </ul>

                </div> 

            </div>
        </div>
    </section> <!--  End Footer Top-->
    <section style="background-color: #000;color: #fff; min-height:50px; padding-top: 15px">
        <div class="container">
            <div  class="row justify-content-center ">
                <span class="align-middle">   Powered By : <a href="http://www.itgardenltd.com" target="_blank" >IT Garden</a> .&nbsp;  Privacy Policy | Terms of Use | License | Support 
                </span>
            </div>
        </div>
    </section>  <!--  End Footer bottom-->
</div>
