<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-page">
    <div layout:fragment = "main_content">


        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    Member Login </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Member/Member Login</div>
                </div>
            </div>
        </section>

        <section style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 ">

                        <div class="card">

                            <div class="card-body text-center">
                                <img  class="img-fluid img-thumbnail " th:src="@{/img/login.png}" />

                            </div>
                        </div>


                    </div> 
                    <div class="col-sm-6 col-md-6 ">
                        <div class="card">
                            <div class="card-header">
                                Login
                            </div>
                            <div class="card-body">
                                <form>



                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>

                                    <button type="submit" class="btn  btn-sm btn-warning">Submit</button>
                                </form>
                                <a th:href="@{/front-view/forgot-password}" class="btn btn-primary btn-sm m-1 btn-block btn-info">Forgot Password</a>
                                <a  th:href="@{/front-view/member-registration}"class="btn btn-primary btn-sm m-1 btn-block  btn-success">New Member Registration</a>

                            </div>
                        </div>
                    </div>  
                </div>  
            </div>
        </section>
    </div>
</div>