<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-page">
    <div layout:fragment = "main_content">


        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    Member Registration</h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Member/Member Registration</div>
                </div>
            </div>
        </section>

        <section style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 ">

                        <div class="card">
                            <div class="card-header">
                                Membership Type
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">General Member- Fee - Free.</h5>
                                <p class="card-text"> Life Time Member - Fee - 1000/-.</p>

                            </div>
                        </div>


                    </div> 
                    <div class="col-sm-6 col-md-6 ">
                        <div class="card">
                            <div class="card-header">
                                Please Fulfill This Form
                            </div>
                            <div class="card-body">



                                <form th:action="@{/users/front-user-save}" th:object="${users}"  method="post" >

                                    <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4><i class="icon fa fa-ban"></i> Error </h4>
                                        <ul th:if="${#fields.hasErrors('*')}">
                                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                        </ul>
                                    </div>

                                    <div class="row" th:if="${!#strings.isEmpty(success)}"> 
                                        <span  class="text-success"th:text="success"> </span>
                                    </div> 

                                    <div class="form-group">
                                        <input type="hidden" class="form-control"  th:field="*{id}" />
                                        <label for="exampleFormControlSelect1">Batch</label>
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('batchNo')}" th:errors="*{batchNo}">Book Name</span>

                                        <select class="form-control" id="exampleFormControlSelect1" th:field="*{batchNo}">
                                            <option th:value="1">1</option>

                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name</label>
                                        <input type="text" class="form-control" th:field="*{name}" aria-describedby="emailHelp" placeholder="Enter name">
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book Name</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" th:field="*{email}" aria-describedby="emailHelp" placeholder="Enter email">
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Book Name</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mobile Number</label>
                                        <input type="text" class="form-control" th:field="*{mobile}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Mobile">
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Book Name</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>

                                        <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Book Name</span>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>  
                </div>  
            </div>
        </section>
    </div>
</div>